<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuzhi.boot.mapper.ILogMapper">
    <resultMap id="LogResultMap" type="com.tuzhi.boot.domain.Log">
        <id column="id" property="id" />
        <result column="ip" property="ip" />
        <result column="created_time" property="createdTime" />

    </resultMap>
    <sql id="column_Where">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">and id=#{id}</if>
            <if test="ip != null and ip != '' ">and ip=#{ip}</if>
            <if test="createdTime != null">and created_time=#{createdTime}</if>

        </trim>
    </sql>
    <sql id="column_List">
    id,ip,created_time
  </sql>

    <!--
        功能：分页查询
    -->
    <select id="findLogList" parameterType="com.tuzhi.boot.domain.Log" resultMap="LogResultMap">
        select	<include refid="column_List" />
        from log
        <include refid="column_Where" />
        <if test="sortOrder !=null and sortOrder !='' and sortName != null and sortName != ''">
            order by
            <if test="'id' == sortName">  id ${sortOrder } </if>
            <if test="'ip' == sortName">  ip ${sortOrder } </if>
            <if test="'createdTime' == sortName">  created_time ${sortOrder } </if>

        </if>

    </select>

</mapper>
